<input type="text" id="min" placeholder="Min"/>
<br/>
<input type="text" id="max" placeholder="Max" />
<br />

<button id="clickMe">Get Random Number From Server</button>
<h1 id="number"></h1>

<ul id="arrayNums">
    
</ul>

<input type="text" id="username" name="name"/>
<span id="info"></span>
<br/>
<button id="submit-button" disabled="true">Sign Up</button>
<br/>

<input type="text" id="sometext" name="name" placeholder="Text to reverse"/>
<br/>
<button id="reverse-button">Reverse</button>
<h3 id="reversed"></h3>

@section scripts {
    <script src="~/Scripts/index.js"></script>
}